@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);

body {
    font-family: 'Arimo', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    background-image: url('../img/background.png');
}

h1, h2, h3, h4, .lead {
    font-family: 'Libre+Baskerville', Helvetica, sans-serif;
}

.jumbotron {
	background-color: #AAAAAA;
}

.first-row, .second-row{
	background-color: rgba(255,255,255,1);
	border-radius: 5px;
	padding: 5mm;
}

.second-row {
	margin-top: 5mm;
}

nav {
	margin-top: 1em;
}

nav li {
	list-style: none;
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1em;
}

nav ul {
	padding-left: 0;
}

.lead {
	display: none;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #DDDDDD;
	display: none;
}

@media (min-width: 992px) {
	header {
		position: relative;
	}

	nav {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.lead {
		display: inline;
	}
}