@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Paytone+One);

header {
	padding-left: 5mm;
	color: #FFFFFF;
}

body {
    font-family: 'Arimo', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    background-image: url('../img/background.png');
}

h1, h2, h3, h4, .lead {
    font-family: 'Satisfy', Helvetica, sans-serif;
}

.header-row, .first-row, .second-row, .third-row{
	background-color: rgba(255,255,255,1);
	border-radius: 5px;
	padding-top: 5mm;
	padding-bottom: 5mm;
	margin-bottom: 5mm;
}

.header-row {
	background-color: #428BCA;
}

.first-row img {
	border-radius: 5px;
}

nav {
	margin-top: 1em;
}

nav li {
	list-style: none;
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1em;
}

nav ul {
	padding-left: 0;
}

.lead {
	display: none;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #DDDDDD;
	display: none;
}

@media (min-width: 992px) {
	header {
		position: relative;
	}

	nav {
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.lead {
		display: inline;
	}

	.first-row, .second-row{
		padding: 5mm;
	}
}